#one{
    background-color: gray;
    font-size: 40px;
    text-align: center;
    padding: 0.5px;
}

.list{
    font-size: 25px;
    margin-top: 100px;
    border: 3px solid white;
}

li{
    color: white;
}
a{
    color: white;
}
div{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(Recipe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}